<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>ToDo</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
</head>
<body>

<div id="react"></div>


<script src="built/bundle.js"></script>

</body>
</html>